doctype html
html
  head
    title Conekta sample - afelipelc
  body
    block content
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js")
    block script
